*{
    margin: 0;padding: 0;outline: 0;
}
body{
    background: #bdc3c7;
}
#main{
    width: 700px;
    margin: 40px auto;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
}
#main #step{       /* steps div */
    width: 650px;
    margin: 10px auto;
    margin-left: 20px;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
    float: left;
    margin-bottom: 20px; 
}
#main #step #one,#two,#three,#four,#five{   /* steps */
    float: left;
    width: 80px;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 5px; 
    margin: 10px;
    margin-left: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Slabo 27px', serif;
}
/*complete div*/
#main #complete{          /*complete div*/
    width: 600px;
    margin: 10px auto;
    margin-left: 20px;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
    float: left;
    margin-bottom: 20px; 
}
#main #complete #msg{    /*msg id in complete div*/
    float: left;
    width: 80px;
    border: 1px solid black;
    margin: 10px;
    margin-left: 8px;
    margin-right: 2px;
    border-radius: 10px; 
    text-align: center;
    font-weight: bolder;
    background: #34495e;
    color: yellowgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main #complete #progress{   /*progress id in complete div*/
    float: left;
    width: 500px;
    border: 1px solid #e67e22;
    margin-top: 10px;
    border-radius: 10px; 
    background-color: #95a5a6;
}
#main #complete #progress #percent{     /*percent in complete*/
    width: 0px;
    height: 18.5px;
    background-color: #e67e22;
    border-radius: 8px; 
    text-align: center;
    font-weight: bolder;
    font-family: 'Slabo 27px', serif;
}
/*que_more div*/
#main #que_more{        /*main que_more div for ques*/
    width: 650px;
    margin: 10px auto;
    margin-left: 20px;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #start{  /*start button design to start quiz*/
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    background: #16a085;  
}
#main #que_more #start:hover{   /*start button hover style*/
    background: #2c3e50;
}
#main #que_more #que_one{       /*que 1 design*/
    width: 500px;
    /*border: 1px solid black;*/
    margin: 20px auto;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #que_one p{  /*que 1 div ques*/
    margin-left: 10px;
}
#main #que_more #que_one input[type=checkbox]{  /*qu1 multiple choice design*/
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#main #que_more #que_one input[type=submit]{  /*qu1 submit button design*/
    width: 100px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*que_two*/
#main #que_more #que_two{
    width: 500px;
    /*border: 1px solid black;*/
    margin: 20px auto;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #que_two p{
    margin-left: 10px;
}
#main #que_more #que_two input[type=checkbox]{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#main #que_more #que_two input[type=submit]{
    width: 100px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*que_three*/
#main #que_more #que_three{
    width: 500px;
    /*border: 1px solid black;*/
    margin: 20px auto;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #que_three p{
    margin-left: 10px;
}
#main #que_more #que_three input[type=checkbox]{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#main #que_more #que_three input[type=submit]{
    width: 100px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*que_four*/
#main #que_more #que_four{
    width: 500px;
    /*border: 1px solid black;*/
    margin: 20px auto;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #que_four p{
    margin-left: 10px;
}
#main #que_more #que_four input[type=checkbox]{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#main #que_more #que_four input[type=submit]{
    width: 100px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*que_five*/
#main #que_more #que_five{
    width: 500px;
    /*border: 1px solid black;*/
    margin: 20px auto;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    clear: both;
    float: left;
}
#main #que_more #que_five p{
    margin-left: 10px;
}
#main #que_more #que_five input[type=checkbox]{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#main #que_more #que_five input[type=submit]{
    width: 100px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
/*cancel_retake*/
#main #cancel_retake{
    width: 650px;
    margin: 10px auto;
    margin-left: 20px;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
    float: left;
}
#main #cancel_retake #retake,#answer{
    width: 120px;
    text-align: center;
    color: white;
    background: #34495e;
    border: 1px solid white;
    border-radius: 10px; 
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    float: right;
    cursor: pointer;
}
#main #cancel_retake #retake,#answer:hover{
    background: black;
}
#main #cancel_retake #answers{
    width: 550px;
    /*border: 1px solid black;*/
    float: left;
    margin: 20px;
    overflow: hidden;
    clear: both;
}
/*que answer*/
#main #cancel_retake #answers #queestion1,#queestion2,#queestion3,#queestion4,#queestion5{
    width: 450px;
   /* border: 1px solid #2c3e50;*/
    border-radius: 10px; 
    margin: 5px;
    font-size: 20px;
    padding: 2px;
    font-weight: bolder;
    background: #2c3e50;
    color: #7f8c8d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
#main #cancel_retake #answers #queestion1,#queestion2,#queestion3,#queestion4,#queestion5:hover{
    background: #34495e;
}
#main #cancel_retake #answers #queestion1_ans,#queestion2_ans,#queestion3_ans,#queestion4_ans,#queestion5_ans{
    width: 450px;
    border: 1px solid #2c3e50;
    border-radius: 10px; 
    margin: 5px;
    font-size: 20px;
    padding: 2px;
    font-weight: bolder;
    background: #2c3e50;
    color: #7f8c8d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
/*finish*/
#main #finish{
    width: 600px;
    margin: 10px auto;
    margin-left: 20px;
    /*border: 1px solid black;*/
    overflow: hidden;
    clear: both;
    float: left;
}
#main #finish p{
    width: 200px;
    height: 200px;
    border: 1px solid #ecf0f1;
    border-radius: 50%;
    background: green;
    color: white;
    text-align: center;
    font-size: 80px;
    /*font-size: 40px;*/
    line-height: 200px;
    margin: 10px;
    margin-left: 150px;

}
#main #finish p .fa-check{
    animation-name: move;
    animation-delay: 1s;
    animation-duration: 4s; 
    animation-iteration-count: 1;
    transition: all 1s;
}
@keyframes move{
    0%{transform: rotatey(0deg);}
           100%{transform: rotatey(360deg);}
}
